{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- datatables.html  21 Nov 2019 03:55:21 GMT -->
  <!-- Header Section -->
  {% include "includes/head.html" %}
  <!-- End Header Section -->

  <body>
    <div class="loader"></div>

    <div id="app">
      <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>

        <!-- Nav Bar Section  -->
        {% include "includes/nav.html" %}
        <!-- End Nav Bar Section -->

        <!-- Side Bar Section -->
        {% include "includes/sidebar.html" %}
        <!-- End Side Bar Section -->
        <!-- Main Content -->
        <div class="main-content">
          <section class="section">
            <div class="section-body">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h4>Sections</h4>
                    </div>
                    <!-- Button trigger modal -->

                    <div class="card-body">
                      <button
                        type="button"
                        class="btn btn-primary btn-sm"
                        data-toggle="modal"
                        data-target="#newUser"
                      >
                        <i data-feather="user-plus"></i>
                      </button>
                      <div class="table-responsive">
                        <table
                          class="table table-striped table-hover"
                          id="myTableExport"
                          style="width: 100%"
                        >
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Sections</th>
                              <th>Total Institions</th>
                              <th>Date</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for section in sections %}
                            <tr>
                              <td>{{forloop.counter}}</td>
                              <td>
                                <a href="{% url 'section_detail' section.id %}"
                                  >{{section.section}}
                                </a>
                              </td>
                              <td>
                                {{section.institutions.count}} Institutions
                              </td>
                              <td>{{section.created_at|timesince}} ago</td>
                              <td>
                                <button
                                  class="btn btn-icon btn-danger deleteSection"
                                  data-id="{{section.id}}"
                                >
                                  <i class="fas fa-trash"></i>
                                </button>
                                <button
                                  class="btn btn-icon btn-info editSection"
                                  data-id="{{section.id}}"
                                  data-section="{{section.section}}"
                                >
                                  <i class="fas fa-edit"> </i>
                                </button>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Modal -->
          <div
            class="modal fade"
            id="newUser"
            tabindex="-1"
            role="dialog"
            aria-labelledby="sectionRegister"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="sectionRegister">
                    Registeration
                    <section></section>
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="registerSection" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <label>Section</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-university"></i>
                          </div>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Section Name"
                          name="section"
                          id="section"
                          required
                        />
                      </div>
                    </div>

                    <button
                      type="submit"
                      class="btn btn-primary m-t-15 waves-effect"
                    >
                      Save
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- End Modal -->

          <!-- Modal -->
          <div
            class="modal fade"
            id="generateModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="sectionRegister"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="sectionRegister">
                    Generate Password
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {% csrf_token %}
                  <form id="activeAccountForm" method="POST">
                    <div class="form-group">
                      <label>Password</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-lock"></i>
                          </div>
                        </div>
                        <input
                          type="password"
                          class="form-control"
                          placeholder="Generate New Password"
                          name="password"
                          id="password"
                          required
                        />
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        name="userid"
                        id="userid"
                        required
                        hidden
                      />
                    </div>
                    <button
                      type="submit"
                      class="btn btn-primary m-t-15 waves-effect"
                    >
                      Active
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- End Modal -->
          <!-- Edit ModaleModal -->
          <div
            class="modal fade"
            id="editModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="sectionRegister"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="sectionRegister">
                    Update <span id="user-info"></span>'s Section
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {% csrf_token %}
                  <form id="updateForm" method="POST">
                    <div class="form-group">
                      <label
                        ><section></section>
                        Name</label
                      >
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-university"></i>
                          </div>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Section Name"
                          name="up_section"
                          id="up_section"
                          required
                        />
                      </div>
                      <!-- <input type="text" class="form-control" name="secid" id="secid" required> -->
                    </div>

                    <button
                      type="submit"
                      class="btn btn-success m-t-15 waves-effect"
                    >
                      Update
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- End Modal -->

          <!-- Setting Bar Sections -->
          {% include "includes/settingbar.html" %}
          <!-- Ending Setting Bar Sections -->
        </div>

        <!-- Footbar Section -->
        {% include "includes/footer.html" %}
        <!-- EndFootbar Section -->
      </div>
    </div>

    <!-- General JS Scripts -->

    <!-- Scripts Section -->
    {% include "includes/scripts.html" %}
    <!-- End Scripts Section -->
    <script src="{% static 'assets/scripts/section/section.js' %}"></script>
  </body>

  {{ redirect_to_login_immediately }}
  <!-- datatables.html  21 Nov 2019 03:55:25 GMT -->
</html>
