{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport" />
  <title>SNWDO | SYSTEM</title>
  <!-- General CSS Files -->

  <link rel="stylesheet" href="{% static 'assets/bundles/jquery-selectric/selectric.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bundles/bootstrap-social/bootstrap-social.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bundles/owlcarousel2/dist/assets/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bundles/owlcarousel2/dist/assets/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bundles/summernote/summernote-bs4.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/bundles/jqvmap/dist/jqvmap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/bundles/flag-icon-css/css/flag-icon.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/bundles/bootstrap-social/bootstrap-social.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/bundles/datatables/datatables.min.css' %}" />
  <link rel="stylesheet"
    href="{% static 'assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}" />
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/components.css' %}" />
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" />
  <!-- <link
    rel="shortcut icon"
    type="image/x-icon"
    href='{% static "assets/img/favicon.ico" %}'
  /> -->
</head>